#root{
  font-family: 'Poppins', sans-serif;
}
.allTaskCount{
  position: absolute;
  top:50px;
  left: 55px;
  font-size: 60px;
  /* font-family: Times New Roman; */
  color: #4b4e58;
}
.allTask{
  position: absolute;
  top:120px;
  left: 50px;
  font-size: 30px;
  color: grey;
}

.overviewContainer{
width:400px;
height:250px;
border: 1px rgb(202, 199, 199) solid;

}
.task-icon{
position: absolute;
background-size: cover;
background-repeat: no-repeat;
}
.overdueTask{
  top:35px;
  left:200px;
  width:30px;
  height:30px;
background-image: url('https://github.com/sivaramp1991/react-dwaiwv/blob/master/images/clock-outline.png?raw=true');
}
.assignedTask{
  top:90px;
  left:200px;
  width:30px;
  height:30px;
background-image: url('https://github.com/sivaramp1991/react-dwaiwv/blob/master/images/taskassigned-icon1.jpg?raw=true');
}
.inQueueTask{
  top:140px;
  left:200px;
  width:30px;
  height:30px;
background-image: url('https://github.com/sivaramp1991/react-dwaiwv/blob/master/images/sandtimer-icon121.jpg?raw=true');
}

.overdueTaskLabel{
  left: 250px;
    position: fixed;
    font-size: 20px;
    color:#f58484;
}
.assignedTaskLabel{
  left: 250px;
    position: fixed;
    font-size: 20px;
    color:#62aecc;
}
.inQueueTaskLabel{
  left: 250px;
    position: fixed;
    font-size: 20px;
    color:#6fda6f;
}
.timeEstimated{
  top: 215px;
  left: 50px;
  width:30px;
  height:30px;
background-image: url('https://github.com/sivaramp1991/react-dwaiwv/blob/master/images/clock-outline.png?raw=true');
}

.label1{
  left: 96px;
    position: fixed;
    font-size: 20px;
    color: grey
}
.label2{
  left: 290px;
    position: fixed;
    font-size: 20px;
    color: orange
}

.taskbreak5{
width: 400px;
height: 1px; 
top: 200px;
}
.seperate{
  position: absolute;
  background: rgb(202, 199, 199);
}
.taskbreak1{
width: 1px;
height: 85px; 
left: 165px;
}
.taskbreak2{
width: 16px;
    height: 1px;
    top: 98px;
    left: 163px;
    transform: rotate(45deg);
}
.taskbreak3{
    width: 16px;
    height: 1px;
    top: 109px;
    left: 163px;
    transform: rotate(-45deg);
}
.taskbreak4{
width: 1px;
height: 86px;
top:115px;
left: 165px;
}

