h1, p {
  font-family: Lato;
}

.overviewContainer{
width:400px;
height:250px;
border: 1px rgb(202, 199, 199) solid;

}
.task-icon{
position: absolute;
background-size: contain;
background-repeat: no-repeat;
}
.overdueTask{
  width:30px;
  height:30px;
background-image: url('https://github.com/sivaramp1991/react-dwaiwv/blob/master/images/taskassigned-icon.jpg?raw=true');
}
.timeEstimated{
  top: 215px;
  left: 50px;
  width:30px;
  height:30px;
background-image: url('https://github.com/sivaramp1991/react-dwaiwv/blob/master/images/clock-outline.png?raw=true');
}

.label1{
  left: 96px;
    position: fixed;
    font-size: 25px;
    color: grey
}
.label2{
  left: 290px;
    position: fixed;
    font-size: 25px;
    color: orange
}

.taskbreak5{
width: 400px;
height: 1px; 
top: 200px;
}
.seperate{
  position: absolute;
  background: rgb(202, 199, 199);
}
.taskbreak1{
width: 1px;
height: 85px; 
left: 165px;
}
.taskbreak2{
width: 16px;
    height: 1px;
    top: 98px;
    left: 163px;
    transform: rotate(45deg);
}
.taskbreak3{
    width: 16px;
    height: 1px;
    top: 109px;
    left: 163px;
    transform: rotate(-45deg);
}
.taskbreak4{
width: 1px;
height: 86px;
top:115px;
left: 165px;
}

.allTaskCount{
  position: absolute;
  top:50px;
  left: 55px;
  font-size: 60px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
}
.allTask{
  position: absolute;
  top:120px;
  left: 50px;
  font-size: 30px;
  color: grey;
}